---
---

<div class="calendar-subscribe">
  <a
    href="https://calendar.google.com/calendar/r?cid=webcal%3A%2F%2Fomahasoundry.com%2Fevents.ics"
    target="_blank"
    rel="noopener noreferrer"
    class="btn-calendar"
  >
    📅 Subscribe to Calendar
</div>
